
<div class="columns is-multiline">
  <% @channels.each do |channel|  %>  
   <div class="card column is-3">
          <%= link_to channel_path(channel) do %>
            <header class="card-header">
              <p class="card-header-title">
                <%= channel.title %>
              </p>
            </header>
          <% end %>
      <div class="card-content">
        <div class="content">
          <% if channel.discussions.count > 0 %>
            <ul>
              <% channel.discussions.each do |discussion| %>
                <li> 
                  <%= link_to root_path do %>
                    <div class="channel-discussion-title">
                      <span class="channel-discussion-title-icon"><i class="fa fa-comments"></i> </span>
                      <%= link_to discussion.title, channel_discussion_path(channel, discussion) %>
                    </div>                  
                  <% end %> 
                  
                </li>
              <% end %>
            <ul>
          <% else %>
            <ul>
              <li class="channel-discussion-title-empty">No Discussion For This Channel Yet</li>
            </ul>
            
          <% end %>
          <br>  
        </div>
      </div>
      <% if current_user && current_user.admin %>
      <div class="card-footer">
        <button class="card-footer-button">Edit</button>
        <button class="card-footer-button">Destroy</button>
      </div>
      <% end %>

  </div>  
 
  <% end %>
</div>


<br>


