<%= form_with scope: :reply, url:  channel_discussion_replies_path(channel, discussion), class:"reply-form" do |f| %>
    <div class="field">
        <label class="label">Reply</label>
        <div class="control">
            <%= f.text_field :reply, class:"textarea", placeholder: "Share Your Thought Here" %>
        </div>
    </div>
        <button class="button is-primary">Submit</button>
<% end %>