<article class="media">
  <figure class="media-left">
    <p class="image is-64x64">
      <%= avatar_helper(reply.user) %>
    </p>
  </figure>
  <div class="media-content">
    <div class="content">
      <p>
        <strong><%= reply.user.email %></strong> <small><%= time_ago_in_words(reply.created_at)%></small>
        <br>
        <%= reply.reply %>
      </p>
    </div>
    <nav class="level is-mobile">
      <div class="level-left">
        <a class="level-item">
          <span class="icon is-small"><i class="fa fa-reply"></i></span>
        </a>
        <a class="level-item">
          <span class="icon is-small"><i class="fa fa-heart"></i></span>
        </a>
      </div>
    </nav>
  </div>
  <div class="media-right">
    <button class="delete"></button>
  </div>
</article>
<hr>

