<%= render 'discussion_nav' %>
<article class="message is-warning">
  <div class="message-body">
    <p class="author-by">Posted by <%= @discussion.user.email %> </p>
    <hr class="author-body-divider">
    <p class="discussion-title"> <%= @discussion.title %> </p> 
    <%= @discussion.body %>
    </div>
</article>

<div class="field">
  <label class="label">Message</label>
  <div class="control">
    <textarea class="textarea" placeholder="Textarea"></textarea>
  </div>
</div>


