<%= render 'discussion_nav' %>
<article class="message is-warning">
  <div class="message-body">
    <p class="author-by">Posted by <%= @discussion.user.email %> </p>
    <hr class="author-body-divider">
    <p class="discussion-title"> <%= @discussion.title %> </p> 
    <%= @discussion.body %>
    </div>
</article>

<% if !current_user %>
  <div class="reply-login columns">
    <span class="reply-login-text column is-8"> 
      What are your thoughts? Log in or Sign up
    </span>
    <div class="reply-login-buttons column is-4">
      <a class="button is-info">Info</a>
      <a class="button is-info is-outlined">Outlined</a>
    </div>
    
  </div>
<% end %>

