// Place all the styles related to the channels controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.card-header-title {
    justify-content: center;
}

ul {
    margin-left: 0 !important   ;
}

li {
    list-style: none;
}
.card {
    border-radius: 7px;
    width: 23% !important;
    margin: 0.5rem;
    -webkit-box-shadow: 1px 4px 13px -6px rgba(71,0,71,1);
    -moz-box-shadow: 1px 4px 13px -6px rgba(71,0,71,1);
    box-shadow: 1px 4px 13px -6px rgba(71,0,71,1);
}
.card-header:hover {
    background-color: #e8f1ff !important;
    transition: 0.5s;
}

.channel-discussion-title a {
    color: #43484a;
}
.channel-discussion-title-icon {
    color: #ccc;
}

.channel-discussion-title-empty {
    color: #43484a;
}

.channel-discussion-title:hover {
    border-radius: 5px;
    background-color: #e8f1ff;
    color: #43484a;
    transition: 1s;
}


.column.is-3, .column.is-3-tablet {
    display: flex;
    flex-direction: column;
    
}

.card-header {
    flex: 1;
}

.card-content {
    padding: 0 !important;
    flex: auto;
}

.card-footer {
    border-top: 1px solid black !important;
    justify-self: flex-end;
    justify-content: center;
    background-color: #ccc !important;
    box-shadow: #43484a;
    
}

.card-footer-button {
    background-color: white;
    border-radius: 20%;
    margin: 0.5rem 1rem;
    padding: 0.2rem 0.5rem;   
}

.card-footer-button:hover {
    background-color: #fffcf5;
    transition: 0.5s;
}

