// Place all the styles related to the discussions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.notification a:not(.button):not(.dropdown-item) {
    font-family: 'Literata', serif;    
    font-size: 20px;
    color: black;
    text-decoration: none;
}

.notification a:not(.button):not(.dropdown-item):hover {
    color: #52527a;
    text-decoration: underline;
}

.notification {
    background-color: white !important;
    padding-bottom: 5px;
    padding-top: 5px;
    margin-top: 24px;
    
}

.discussion-title {
    font-size: 1.5rem;
}

.author-by {
    font-size: 0.75rem;
}

.message-body {
    padding-top: 10px;
    min-height: 10rem;
}

.author-body-divider{
    margin-top: 5px;
}

.reply-login {
    box-sizing: border-box;
    margin: 10px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    align-items: center;
}

.reply-login-text {
    padding-top: 21px;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    vertical-align: middle;
}

.reply-login-buttons {
    vertical-align: middle;
}

.no-reply-message-box{
    border: 1px solid #ccc;
    padding: 1rem;
    border-radius: 5px;
}