<footer class="footer">
  <div class="content has-text-centered">
    <p>
      <strong>Forumus</strong> by <a href="https://github.com/woobaik">Joungwoo Baik. </a>
      <p class="footer-link-box">
         Please check my <a href="https://www.linkedin.com/in/joungwoo-baik/">Linkedin <span class="footer-icon"><i class="fa fa-linkedin"></i></span></a>
         and <a href="https://github.com/woobaik"> Github <span class="footer-icon"><i class="fa fa-github-square"></i></span></a>
      </p>
      
      <br>
      <p>
        The source code is licensed
      <a href="http://opensource.org/licenses/mit-license.php">MIT</a>. The website content
      is licensed <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY NC SA 4.0</a>.
      </p>
    </p>
  </div>
</footer>